<!DOCTYPE html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QS5FBGJ1QK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QS5FBGJ1QK');
  </script>

  <title>{doc_title}</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
  {include nav.html}
  <main class="center">
    <h1>{title}</h1>
    {content}
  </main>
  <div id="spacer"></div>
</body>

</html>
