.content {
    max-width: 60rem;
    margin: auto;
}

#profile-photo {
    width: 8rem;
    float: right;
}

.horiz-list > * + * {
    margin-left: 4%;
}

.project-screenshot {
    max-width: 100%;
    max-height: 45rem;
}
