.center {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-bottom: 10vh;
}

#profile-photo {
    max-width: 40%;
    width: 12rem;
    margin-left: 1rem;
    float: right;
}

.horiz-list > * + * {
    margin-left: 4%;
}

.project-screenshot {
    max-width: 100%;
    max-height: 40rem;
}
